.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}

.header a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}
.header a:hover{
    color: orange;
}

.user{
    color: white;
}

.logout-btn{
margin-left: 10px;
background-color: rgb(248, 84, 84);
color: white;
font-weight: 600;
padding: 4px ;
border-radius: 5px;
}
.logout-btn:hover{
    background-color: red;
}